* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

p {
    line-height: 2em;
}

h1 {
    font-size:3em;
    font-family: sans-serif;
    text-align: center;
}


body {
    font-family: 'Montserrat', normal;
}

.banner {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 750px;
    width: 100%;
    background: url('img/banner.jpg');
    align-items: center;
    color:white;
    margin-bottom:5em;
}

.intro {
    display: flex;
    flex-direction: column;
}

.fancy {
    font-family: 'Satisfy', cursive;
    color: yellow;
}

.intro-title {
    display:flex;
    justify-content: center;
    padding: 4.5em 0;
    width:100%;
    font-weight:400;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    padding:5em 7em 4em 7em;
}

.intro-content2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 5em 15em 4em 7em;
}

.pics {
    width:700px;
}

.row1 {
    width:30%;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
    margin-left:5em;
    padding-top:5em;
    font-weight:200;
}


.row2,
.row3,
.row5,
.row6 {
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;
    opacity: 0;
    transition: 0.8s all ease-in-out;
}


.row2 {
    transform: translateY(-225px);
}

.row3 {
    transform: translateX(-225px);
}

.row4 {
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;
}

.row5 {
    transform: translateY(50px);
}

.row6 {
    transform: translateY(-200px);
}

.fade-in {
    opacity: 1;
    animation: fade-in 1000ms ease;
    transform: translateY(0px);
}

.fade-in2 {
    opacity: 1;
    animation: fade-in 1000ms ease;
    transform: translateY(0px);
}

.fade-in3 {
    opacity: 1;
    animation: fade-in 1000ms ease;
    transform: translateX(0px);
}

.fade-in4 {
    opacity: 1;
    animation: fade-in 1000ms ease;
    transform: translateY(150px) translateX(-400px);
}

.fade-in5 {
    opacity:0;
    animation: slide 1s ease;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.hidden2 {
    opacity: 0;
    transform: translateY(-225px);
}

.hidden3 {
    opacity: 0;
    transform: translateX(-225px);
}

.hidden4 {
    opacity: 0;
    transform: translateY(-200px);
}

.hidden5 {
    opacity: 0;
}
  
span {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(50px);
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

.empty {
    height:800px;
}

.scenery {
    display: flex;
    align-items: center;
    width: 100%;
    overflow:hidden;
}

.mountain {
    background: url(img/mountain.jpg);
    height: 800px;
    overflow:hidden;
}


.stream {
    background-image: url(img/stream.jpg);
    height:600px;
    width: 100%;
}

.rainbow {
    background-image: url(img/rainbow-cropped.jpg);
    height:600px;
    width:100%;
}

.dream {
    background-image: url(img/dream.jpg);
    height:600px;
}

.stream-rainbow {
    width:100%;
}

.cursive {
    font-family: 'Amatic SC', cursive;
    font-size:4em;
    color: white;
}

.thick {
    font-family: 'Homemade Apple', cursive;
    font-size:3em;
    color: white;
}


.clouds {
    background: url(img/clouds-with-swing.jpg);
    width:100%;
    height: 946px;
}

.typing-content {
    background: url(img/clouds-with-swing.jpg);
    width:100%;
    height: 946px;
    color:white;
    display: flex;
    padding-top:40em;
    padding-left:5em;

}

.typing {
    position: relative;
    margin-left: 10px;
    font-family: 'Special Elite', cursive;
    font-size:2em;
}

.typing::after {
    content: "";
    position: absolute;
    right: -8px;
    width: 1px;
    height: 9%;
    border-right: 3px solid white;
    animation: blink 0.5s infinite ease;
}

.typing-headline {
    font-family: 'Special Elite', cursive;
    font-size: 2em;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        opacity:0;
        transform: translateX(225px);
    }
    100% {
        opacity:1;
        transform: translateX(0px);
    }
}
