* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

p {
    line-height: 2em;
}

body {
    font-family: 'Montserrat', normal;
    min-height:100vh;
}

header {
    display:flex;
    position: relative;
    height:700px;
    width:100%;
}

.intro {
    display: flex;
    flex-direction: column;
}

.intro-title {
    display:flex;
    justify-content: center;
    padding: 4.5em 0;
    width:100%;
    font-weight:400;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    padding:4em;
}

.intro-content2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 4em 12em 4em 4em;
}

.pics {
    width:700px;
}

.intro-text {
    width:30%;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
    margin-left:5em;
    padding-top:5em;
    font-weight:200;
}


.fade-in {
    opacity: 1;
    animation: fade-in 1000ms ease;
    transform: translateY(0px);
  }

.hidden {
    opacity: 0;
    transform: translateY(20px);
  }
  